.header {
  background-color: rgb(245, 245, 245); 
}



/* 背景 */
body {
  margin: 0; /* 余白をなくす */
  font-family: Arial, sans-serif; 
  background-color: #fff8f8; /* 背景色を統一 */
  min-height: 100vh; /* ビューポート全体の高さを確保 */
  display: flex;
  flex-direction: column;
  border-radius: 20px; /* 背景の淵を丸くする */
  overflow: hidden; /* 丸みを適用する際に不要な部分がはみ出さないように */
}

/* h1.containerのスタイル */
h1.container {
  font-family: sans-serif;
  text-align: center;
  color: #6193bd;
  margin: 0; /* 外側の余白をなくす */
  padding: 20px; /* 内側の余白を調整 */
  background-color: transparent; /* 背景色を透明に */
}

/* 送信された文字 */
.container {
  color: #69b0cc;
  padding: 20px; 
  max-width: 800px; 
  margin: 0 auto; 
  background-color: rgb(245, 245, 245);
  flex: 1; /* コンテンツ部分が余白を埋める */
  border-radius: 15px; /* コンテナの淵を丸くする */
}


/* メッセージ枠と送信ボタンの距離 */
.message-list {
  margin-top: 30px;
}

/* メッセージ枠内部 */
.message-item {
  margin-bottom: 10px;
  padding: 20px;
  border: 5px solid #ffffff; /* 縁の色 */ 
  border-radius: 25px; 
  background-color: #f5f5f5; /* テキスト背景 */
  transition: transform 0.3s; 
}

/* メッセージ枠のホバー */
.message-item:hover {
  transform: translateY(-13px); 
}

form {
  background-color: #f5f5f5;
}

.alart-danger {
  background-color: rgb(202, 163, 163);
}

.form-control.mb-2 {
  color: #010101;
  background-color: #ffffff;
}

/* プレースホルダー文字のスタイル */
input[type="text"]::placeholder,
textarea::placeholder {
  color: #ffffff; /* プレースホルダー文字を白く */
  opacity: 1; /* プレースホルダーの透明度を100%に */
}

.btn-danger{
  background-color: #cc5858 !important;
  border: 1px #3d3ba7 !important;
}

.modal-header{
  background-color: #cc5858 !important;
  border: 5px solid #cc5858 !important;
}