
/*背景*/
body {
  margin: 0; 
  font-family: Arial, sans-serif; 
  background-color: #252525; 
}

/*送信された文字*/
.container {
  color: #ffffff;
  padding: 20px; 
  max-width: 800px; 
  margin: 0 auto; 
}


/*INIAD-SNS*/
h1 {
  font-family:sans-serif;
  text-align: center; 
  color: #ffffff; 
  margin-bottom: 20px; 
}


/*メッセージ枠と送信ボタンの距離*/
.message-list {
  margin-top: 30px;
}

/* メッセージ枠　内部*/
.message-item {
  margin-bottom: 15px;
  padding: 10px;
  border: 7px solid #ffffff; /*縁の色*/ 
  border-radius: 27px; /*角の丸み*/
  background-color: #040404;/*テキスト背景*/
  transition: transform 0.3s; 
}


/*メッセージ枠のホバー*/
.message-item:hover {
  transform: translateY(-13px); 
}